@page
@model Universite.Pages.EmploiDuTemps.EmploiDuTempsModel

<head>
    <meta charset='utf-8' />

    <link href='~/lib/fullcalendar-4.3.1/packages/core/main.css' rel='stylesheet' />
    <link href='~/lib/fullcalendar-4.3.1/packages/daygrid/main.css' rel='stylesheet' />
    <link href='~/lib/fullcalendar-4.3.1/packages/timegrid/main.css' rel='stylesheet' />

    <script src='~/lib/fullcalendar-4.3.1/packages/core/main.js'></script>
    <script src='~/lib/fullcalendar-4.3.1/packages/daygrid/main.js'></script>
    <script src='~/lib/fullcalendar-4.3.1/packages/timegrid/main.js'></script>


</head>


<div id='calendar'></div>



<script>

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['dayGrid', 'timeGrid'],
                defaultView: 'timeGridWeek',
                minTime: "08:00:00",
                maxTime: "21:00:00",
                nowIndicator: true,
                events: "../../api/EDT"




            });


            calendar.render();
            document.querySelector('button[aria-label="next"]').addEventListener('click',()=>{
                /*var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        console.log(this.responseText);
                        calendar.addEventSource(JSON.parse(this.responseText));
                        calendar.render();
                    }
                    else {
                        console.log(this.getResponseHeader);
                    }
                };
                xhttp.setRequestHeader("Content-type", "application/json");
                xhttp.open("GET", "../../api/EDT?increment=true", true);
                xhttp.send("increment=true");*/
                calendar.render();
            });


})



</script>

